//- Angular mixins

mixin ng-input-text(name, label, model, placeholder, required, readonly, minLen, maxLen, changeEvent, blurEvent)
    .form-group
        label.control-label.col-md-3.col-sm-4(for=name)= label
        div.input-group
            input.form-control(type='text', id=name, name=name, ng-model=model, placeholder=placeholder, readonly=readonly, required=required, minlength=minLen, maxlength=maxLen size='40', ng-change=changeEvent, ng-blur=blurEvent)
            if (required)
                span.input-group-addon
                    span.glyphicon.glyphicon-asterisk

mixin ng-input-text-min(name, model, placeholder, required, readonly, minLen, maxLen, changeEvent, blurEvent)
        div.input-group
            input.form-control(type='text', id=name, name=name, ng-model=model, placeholder=placeholder, readonly=readonly, required=required, minlength=minLen, maxlength=maxLen size='40', ng-change=changeEvent, ng-blur=blurEvent)

mixin ng-input-password(name, label, model, placeholder, required, readonly, minLen, maxLen, changeEvent, blurEvent)
    .form-group
        label.control-label.col-md-3.col-sm-4(for=name)= label
        div.input-group
            input.form-control(type='password', id=name, name=name, ng-model=model, placeholder=placeholder, readonly=readonly, required=required, minlength=minLen, maxlength=maxLen size='40', ng-change=changeEvent, ng-blur=blurEvent)
            if (required)
                span.input-group-addon
                    span.glyphicon.glyphicon-asterisk

mixin ng-input-password-min(name, model, placeholder, required, readonly, minLen, maxLen, changeEvent, blurEvent)
    .form-group
        div.input-group
            input.form-control(type='password', id=name, name=name, ng-model=model, placeholder=placeholder, readonly=readonly, required=required, minlength=minLen, maxlength=maxLen size='40', ng-change=changeEvent, ng-blur=blurEvent)
